
body{
	background-image: url('../images/bg.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	background-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}


#header{width:100%;height:80px;color:#fff;padding:0;margin:0;background-image:url('../images/grey-bg.png');background-repeat:repeat-x;}
#main{width:980px;margin:0 auto; min-height:550px;background-color:rgba(255,255,255,0.7);}
#footer{text-align:center; padding:5px 0 5px 10px; width:100%;background-color:#333;color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:10px; position:fixed; left:0;bottom:0;}

#logo{padding:10px;width:980px;margin:0 auto;height:60px;float:left;}
.dividercontainer{padding:5px 10px 5px 10px;float:left;}
.vdivider{height:50px;width:1px;padding:0;margin:0;background-image:url('../images/dividerbg.jpg');background-repeat:repeat-y;}
.sitlogo{float:left;}
.xsitelogo{padding:6px 0 6px 10px;clear:right;}
.lms{color:#fff;font-size:12px;font-weight:bold;}
.lms a{text-decoration:none;color:#fff;}
.headerbg {background-image:url('../images/redtap.png');background-repeat:no-repeat;width:980px;margin:0 auto;height:80px;background-position:right;}

#content{padding:30px;}
#contentbox{
	width:550px;
	height:310px;
	padding:0px;
	margin:0px;
	border:1px solid #999;
	background-color:#e2e3e4;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
	float:left;
}
#announcement {
	width:100%;
	padding-bottom:10px;
	margin:0px;
}
.message{width:100%;margin:0;padding:5px;
	color:#ff3300;	width:100%;
	border:1px solid #999;
	background-color:#ffeecc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	}
	
.boxtitle{padding:10px 10px 10px 10px;background-color:#e53e36;font-size:28px;color:#fff;font-weight:bold;
	border-top-right-radius:4px;
	border-top-left-radius:4px;clear:both;}
	
.boximage{width:222px;height:258px;float:right;background-image:url('../images/student.jpg');background-repeat:no-repeat;background-position:bottom;}
.boximage2{width:222px;height:258px;float:right;background-image:url('../images/student2.jpg');background-repeat:no-repeat;background-position:bottom;}
.contentdetails{padding:15px 0 0 10px;float:left;width:300px;}
.loginbutton{width:178px;height:53px;background-image:url('../images/sit-login-button.png');background-repeat:no-repeat;
float:left;}

.loginbutton a {padding:12px 10px 10px 15px; color:#fff;font-size:14px;font-weight:bold;text-decoration:none;width:178px;height:53px;display : block;
}

.loginbutton2{width:178px;height:53px;background-image:url('../images/guest-login-button.png');background-repeat:no-repeat;float:left;}

.loginbutton2 a {padding:12px 10px 10px 8px; color:#fff;font-size:14px;font-weight:bold;text-decoration:none;width:178px;height:53px;display : block;
}

.loginlabel {font-weight:bold;font-size:15px;padding:5px 0 0 5px;}
.loginremarks {font-size:12px;color:#666;float:left;}
.loginremarks a {text-decoration:underline;color:#666;}
.spacebox{padding:15px 0 15px 0;clear: both;}
.line{border-top:1px solid #ccc;width:300px;height:1px;}


#servicebox{padding:0px 0px 0px 40px; width:320px;float:left;}
.title {font-weight:bold;font-size:28px;color:#666;}

.icon {width:100px; height:100px; text-align:center;margin:0 auto;padding:0 0px 10px 0;float:left;}

.iconshell {width:80px;padding-left:20px;padding-bottom:5px;}
.iconbox{background-color:#e2e3e4;
	width:60px;height:60px;
	border:1px solid #999;
	background-color:#e2e3e4;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
 
.iconbox a {width:60px;height:60px;display:block;padding:6px 0px 0px 0px;}

.icon .link a{color:#666;font-size:12px; text-decoration:none;font-weight:bold;}

#aboutbox{width:550px;float:left;color:#666;font-size:14px;}
#studentphoto{padding:0px 0px 0px 40px; width:320px;float:left;}
.p{font-size:14px;padding-top:10px;color:#333;}

